<?xml version='1.0' encoding='us-ascii'?>
<srvmon>
  <database>
    <option caption="user"></option>
    <option caption="password"></option>
    <option caption="server"></option>
    <option caption="dbname"></option>
  </database>
  <director>
    <option caption="interval">10000</option>
    <option caption="debug">1</option>
    <option caption="daemonize">0</option>
  </director>
</srvmon>
